# IDEs and editors
/.idea
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.env
/aws.phar
#Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
